<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.psas.dao.FineInfoDao">
	<!-- 查找所有 -->
	<select id="findAll" resultMap="fineInfoRM">
		select * from fine_info
	</select>
	 <select id="findAcceptCase" parameterType="int" resultType="acceptCase">
		select * from accept_case where case_id=#{caseId}
	</select>
	<select id="findCitizenInfo" parameterType="string" resultType="citizenInfo">
	    select * from citizen_info where id_card=#{idCard}
	</select>
	<select id="findPolicemanInfo" parameterType="int" resultType="policemanInfo">
	    select * from policeman_info where policeman_id=#{policemanId}
	</select>
	<resultMap type="fineInfo" id="fineInfoRM">
		<id column="case_id" property="caseId"/>
		<id column="id_card" property="idCard"/>
		<id column="policeman_id" property="policemanId"/>
		<association property="acceptCase" column="case_id"
			javaType="acceptCase" select="findAcceptCase">
		</association>
		<association property="citizenInfo" column="id_card"
			javaType="citizenInfo" select="findCitizenInfo">
		</association>
	    <association property="policemanInfo" column="policeman_id" javaType="policemanInfo"
	        select="findPolicemanInfo">
	    </association>
	</resultMap>
	
	<!-- 增加 -->
<insert id="add" parameterType="fineInfo">
		insert into
		fine_info values(#{fine.fineId},#{fine.fineTime},#{fine.fineType},#{fine.fineCharacter},#{fine.fineReason},#{fine.idCard}
		,#{fine.policemanId},#{fine.caseId});
</insert>
<!-- 删除 -->
<delete id="delete" parameterType="fineInfo">
delete from fine_info where fine_id=#{fine.fineId}
</delete>
<!-- 修改 -->
	<update id="update" parameterType="fineInfo">
		update fine_info
		<trim prefix="set" prefixOverrides=",">
			<if test="fine.idCard!=null">
				,id_Card=#{fine.idCard}
			</if>
			<if test="fine.fineTime!=null">
				,fine_time=#{fine.fineTime}
			</if>
			<if test="fine.policemanId!=null">
				,policeman_id=#{fine.policemanId}
			</if>
			<if test="fine.caseId!=null">
			    ,case_id=#{fine.caseId}
			</if>
			<if test="fine.fineReason!=null">
			    ,fine_reason=#{fine.fineReason}
			</if>
		</trim>
		where fine_id=#{fine.fineId}
	</update>
	<!-- 按条件查询 -->
	<select id="findFine" resultMap="fineInfoRM">
		select * from fine_info
		<if test="fine!=null">
			<trim prefix="where" prefixOverrides="and">
				<if test="fine.fineId!=null">and fine_id=#{fine.fineId}</if>
				<if test="fine.idCard!=null">and id_card=#{fine.idCard}</if>
			</trim>
		</if>
		<if test="page!=null">
			limit #{page.start},#{page.PAGESIZE}
		</if>
	</select>
</mapper>