<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.psas.dao.PunishmentInfoDao">
	<!-- 查找所有 -->
	<select id="findAll" resultMap="punishmentInfoRM">
		select * from punishment_info;
	</select>
	<select id="findPublicSecurity" parameterType="int" resultType="publicSecurity">
		select * from public_security where ps_id=#{psId}
	</select>
	<resultMap type="punishmentInfo" id="punishmentInfoRM">
		<id column="ps_id" property="psId"/>
		<association property="publicSecurity" column="ps_id"
			javaType="publicSecurity" select="findPublicSecurity"></association>
	
	</resultMap>

	
</mapper>











