/aopalliance.jar
/aspectjweaver.jar
/commons-collections-3.1.jar
/commons-dbcp-1.2.2.jar
/commons-logging.jar
/commons-pool.jar
/jackson-annotations-2.4.1.jar
/jackson-core-2.4.1.jar
/jackson-databind-2.4.1.jar
/jstl.jar
/mybatis-3.2.5.jar
/mybatis-spring-1.2.2.jar
/mysql-connector-java-3.1.8-bin.jar
/spring-aop-3.2.8.RELEASE.jar
/spring-aspects-3.2.8.RELEASE.jar
/spring-beans-3.2.8.RELEASE.jar
/spring-context-3.2.8.RELEASE.jar
/spring-core-3.2.8.RELEASE.jar
/spring-expression-3.2.8.RELEASE.jar
/spring-jdbc-3.2.8.RELEASE.jar
/spring-tx-3.2.8.RELEASE.jar
/spring-web-3.2.8.RELEASE.jar
/spring-webmvc-3.2.8.RELEASE.jar
/standard.jar
/log4j-1.2.11.jar
